@model IEnumerable<TravelMate.Models.Room>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rooms Page</title>
</head>
<body>
    <p>
        <button type="button" class="btn btn-success">
            <a asp-action="Create">Create New</a>
        </button>
    </p>
<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Roomnumber)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Roomtype)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Pricepernight)
            </th>
            <th class="text-center"
                @Html.DisplayNameFor(model => model.Isavailable)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Roomnumber)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Roomtype)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Pricepernight)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Isavailable)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Hotel.Hotelname)
            </td>
            <td class="text-center">
                    <button type="button" class="btn btn-info">
                        <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a>
                    </button>
                    <button type="button" class="btn btn-warning">
                        <a asp-action="Details" asp-route-id="@item.RoomId">Details</a>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
