@model TravelMate.Models.HomePage

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>HomePage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagelogo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagelogo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PWelcome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PWelcome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagemain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagemain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PFooter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PFooter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PCopyrigth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PCopyrigth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
